# Mac OS 
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# VS Code
.vscode/
*.code-workspace
.history/

# Node 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ostalo
.env
.env.local
