body {

    text-align: center;
}

div {

    width: 350px;
    margin: 50px auto;
    padding: 20px;

    color: black;
    background-color: whitesmoke;
    border-radius: 10px;

}

button {

    background-color: green;
    color: azure;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

button:active {
    border-style: inset;
}